* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

html,
body {
	height: 100%;
	padding-bottom: 3%;
}

#title {
	background-color: #B2EBF2;
	margin: 5%;
	font-size: 15px;
}

.btn {
	border-radius: 5px;
	height: 400%;
}

.form-control {
	border-radius: 5px;
	width: 65%;
	height: 10%;
	margin-bottom: 2%;
}

p {
	background-color: white;
	text-indent: 20px;
	padding: 4%;
}

#wikiTitle {
    text-decoration: blink;
    font-size: 250%;
}

#map{
    width: 100%;
    height: 250px;
    margin: 0;
    padding-left: 0;
}

#list {
	width: 100%;
	padding-left: 0;
	margin-top: 5%;
}

#wiki {
	visibility: hidden;
	width: 100%;
	margin: 5% 0;
	padding: 0 5%;
	background-color: #E0E0E0;
}

#wikiLogo {
	width: 10%;
	height: 10%;
    margin: 2%;
}

li {
	width: 100%;
	position: relative;
	text-align: center;
	background-color: #B2DFDB;
	list-style-type: none;
	border-style: solid;
	border-color: #00897B;
}

/* Medium devices 768px */
@media (min-width: 768px) and (max-width: 992px) {
	.form-control {
	    width: 59%;
	}
	.btn {
		width: 39%;
	    margin: 0;
	}

	#title {
		font-size: 24px;
		margin: 2%;
	}

	#map{
	    height: 300px;
	}
}

@media (min-width: 992px) {
	.shift {
		margin: 3%;
	}
	#title {
		font-size: 35px;
		margin: 2% 1%;
	}

	.btn {
		width: 25%;
	}

	.form-control {
		width: 73%;
	}

	#map{
	    width: 100%;
	    height: 400px;
	}
}

